/* COLLABO COMMUNITY */
/* For css specific to only Issue report page */


.issuePage {
  background:#0000ff;
  color:  var(--color-shade-white) ;
  font-size: 2.4rem;
  word-spacing: 30px;
  padding: 6px 0;
  letter-spacing: -5px;
  text-align: center;
}

.issueBody {
  background: #ffc0cb;
  height: 90vh;
}