.layout {
  margin: 30px 0;
}

.mainContent {
  margin: 0 auto;
  width: calc(100% - 60px);
}

.appContainer {
  padding: 0px;
}

.app__mobileMenuBtns {
  display: block;
  border-radius: 50%;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .layout {
    display: flex;
    margin: 37px 0;
  }

  .appContainer {
    flex: 4;
    padding: 50px 0;
  }
  
  .mainContent {
    margin: 0 auto;
    width: calc(100% - 100px);
  }
  
  .main {
    flex: 1;
  }

  .app__mobileMenuBtns {
    display: none;
  }

}
