.layout {
  margin: 30px 0;
}

.mainContent {
  margin: 0 auto;
  width: calc(100% - 60px);
}

.appContainer {
  padding: 0px;
}

.app__mobileMenuBtns {
  display: block;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 16px;
  background: white;
  box-shadow: 5px 5px 15px 0px #0275D81A;
}

.app_header {
  display: grid;
  grid-template-columns: auto 1fr 0.22fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 17px;
}

.app__menuOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 13, 19, 0.8);
  z-index: 998; 
}

@media screen and (min-width: 768px) {
  .layout {
    display: flex;
    margin: 37px 0;
  }

  .appContainer {
    flex: 4;
    padding: 0  0 50px 0;
  }
  
  .mainContent {
    margin: 0 auto;
    width: calc(100% - 100px);
  }
  
  .main {
    flex: 1;
  }

  .app__mobileMenuBtns {
    display: none;
  }

}
