.button {
  display: block;
  background-color: #0275d8; 
  color: white; 
  border: none;
  border-radius: 8px;
  padding: 16px 0px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  transition: background-color 0.3s ease;
}
