/* smaller screen */
.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

/* Large screen */
@media screen and (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 40px;
  }
}
